/*Style sheet for blog.html*/
@import url("style.css");

.backgroundimage {
  background-image: url(../pictures/blogbg.jpg);
  background-repeat: no-repeat;
  background-size: 90%;
}

#bloglist li {
  font-size: 18px;
  font-family: times;
  width: 40%;
  list-style-type: disc;
  display: list-item; 
  opacity:inherit;
}

.youtube iframe:focus {
  outline: none;
  height: 50px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

