/*Style sheet for blog.html*/
@import url("style.css");

div.backgroundimage{
  background-image: url(pictures/blog%20bg.jpg);
  background-repeat:no-repeat;
  background-size: 90%;
  width:85%;
  position:absolute;
  top:75px;
  left:290px;
  text-align: left;
  padding:30px;
}
#bloglist li{
  font-size:18px;
  font-family:times;
  width: 40%;
  list-style-type: disc;
  display: list-item;  
}
.youtube iframe:focus {
  outline: none;
  height: 50px;
  width: 100px;
  margin-left:auto;
  margin-right:auto;
}

